{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}


<a name="about"></a>
<div class="row-fluid iioa-unit">
    <div class="hero-unit clearfix">

<h3>About the OpenArticleGauge and HowOpenIsIt</h3>
<p>The OpenArticleGauge service is part of HowOpenIsIt, a suite of tools developed by PLOS, SPARC, and OASPA to make it easier to determine how open journals and journal articles are. The initial development of OAG was funded by PLOS and carried out by a team from CottageLabs [link].</p>

<p>The OpenArticleGauge provides information on how open a specific journal article is. It does this by going to the article itself and looking for licensing information. The service is available as a website, an API, and as source code. For more details on the software architecture and design see the <a href="/developers">developers section</a>.</p>

    </div>
</div>

<a name="howto"></a>
<a name="policy"></a>
<div class="row-fluid iioa-unit">
    <div class="span6">
        <div class="hero-unit clearfix">
            <h3>How to use this service</h3>
            <p>How to provide an identifier, how to understand the output.</p>
        </div>
    </div>
    <div class="span6">
        <div class="hero-unit clearfix">
            <h3>Our policy on Open Access</h3>
            <p>What we mean when we say a thing is Open Access.</p>
        </div>
    </div>
</div>




<a name="support"></a>
<div class="row-fluid iioa-unit">
    <div class="span12">
        <div class="hero-unit clearfix">
            <h3>Support &amp; Credits</h3>
            <p>The further development and hosting of the OAG is supported by <a href="http://www.plos.org/">PLOS</a>. If you would like get involved and support the further development of OAG then <a href="/contact">get in touch</a>.</p>
            <p>If you have an issue with the service or the software, log a new issue on the github <a href="http://github.com/cottagelabs/isitopenaccess">code repo</a>. If you are concerned about a statement regarding the openness of a particular article, please register a <a href="/dispute">dispute</a>.</p>
            <p>The OpenArticleGauge was built by <a href="http://cottagelabs.com">Cottage Labs</a>. Additional work has been contributed by...</p>
        </div>
    </div>
</div>


<a name="legal"></a>
<div class="row-fluid iioa-unit">    
    <div class="span12">
        <div class="hero-unit clearfix">
            <h3>Legal</h3>
            <p>This website and the codebase are &copy; PLOS 2012-13. Website content is available under a <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0 License</a>. Source code is available under a <a href="https://github.com/CottageLabs/IsItOpenAccess/blob/master/LICENCE">BSD licence</a>.</p>
            <p>License information for each article is determined by following the DOI or Pubmed link to the article page and obtaining license information from the page itself. Each publisher site has an individual plugin to deal with the specifics of how license information is available.</p>
            <p>By preference plugins search for the full text of the license statement, and check this against a known list of license statements for that publisher. Where possible license terms are obtained from a specified tag within an XML record. The response will tell provide both the means by which the license was determined (page scraping, an XML record) and the precise text that was obtained from the page.</p>
            <p>This information is provided without warranty...Neither PLOS, CottageLabs, or the website will accept liability for...</p>
            <p>If you identify an incorrect or incomplete license statement then please raise a <a href="/dispute">dispute</a> and we will investigate.</p>
        </div>
    </div>
</div>




{% endblock %}
