{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

<div class="row-fluid iioa-unit">
    <div class="hero-unit clearfix">

<p>If you have ideas or want to contribute, please get in touch at [email address]. We are always open to contributions of license plugins for new publishers, use cases, functionality requests, and of course support for the service.</p>

<p>If you want to dispute a license statement please use the dispute page[link] as this will result in the most timely investigation of the issue.</p>

<p>If you wish to use the API please see the API documentation. There is no requirement for an API key at this time. If you wish to run an instance of the service yourself see the code and deployment documentation[links].</p>

    </div>
</div>

{% endblock %}
