{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

<div class="row-fluid iioa-unit">
    <div class="hero-unit clearfix">

<p>License information is obtained by looking for specific elements on the article pages. Searching for the license may fail for several reasons. The publisher may not provide licensing information that can be read by the service, the publisher might change the text they use to refer to a specific license. In these cases the service should indicate that it cannot determine a license.</p>

<p>OAG stores license license information to speed up the response. If the publisher has changed the license it is possible that the stored information may be out of date.</p>

<p>If you do not obtain a license where you believe you should have, or if the license details are wrong, please provide the information here. If you are obtaining licenses via the API you can also raise a dispute programmatically. See the API documentation.</p>

    </div>
</div>

{% endblock %}
