{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

<script type="text/javascript">
jQuery(document).ready(function () {
    var success = function(data) {
        var top = $('#result_status').offset().top - 80;
        $('html, body').animate({scrollTop: top});

        if ( $('#result_status').html().length == 0 ) {
            var s = '<h1>You requested <span id="requested">' + data.requested + '</span> records. ';
            s += 'We found <span id="found">' + data.results.length;
            s += '</span>, there were <span id="errors">' + data.errors.length + '</span> errors, and <span id="processing">';
            s += data.processing.length + '</span> are still processing. <span id="checked"></span> <span id="done"></span></h1>';
            $('#result_status').html(s);
        } else {
            $('#errors').html(parseInt($('#errors').html()) + data.errors.length);
            $('#found').html(parseInt($('#found').html()) + data.results.length);
            $('#processing').html(data.processing.length);
        }
        data.processing.length == 0 ? $('#done').html( 'Done.' ) : false;
        for ( var i in data.results ) {
            var record = data.results[i];
            var resobj = '<div class="resultitem">';
            resobj += JSON.stringify(record,"","    ");
            resobj += '<h3>IDENTIFIER(S): ' + record.identifier.id + '</h3>';
            resobj += '<h4>LICENSE(S): ' + record.license.title + ' (' + record.license.type + ')</h4>';
            resobj += '<p>' + license.provenance.description + '</p>';
            resobj += '<p>IS IT OPEN ACCESS? ' + license.open_access + '. BY: ' + license.BY;
            resobj += '. NC: ' + license.NC + '. SA: ' + license.SA + '. ND: ' + license.ND + '</p>';
            resobj += '<p>OKD compliant? ' + license.is_okd_compliant + '. OSI compliant? ' + license.is_osi_compliant + '</p>';
            resobj += '<p>Learn more about this license at ' + license.url + '</p>';
            resobj += '<p>We retrieved this information from ' + license.provenance.source + '.</p>';
            resobj += '<p>Last checked on ' + _last_modified + '.</p>';
            resobj += '</div>';
            $('#results').append(resobj);
        }
        idlist = [];
        for ( var obj in data.processing ) {
            idlist.push(data.processing[obj].identifier.id);
        };
        idlist.length != 0 ? setTimeout(refresh,5000) : false;
    };
    
    var error = function(xhr, message, error) {
        alert("Error... " + error)
    };
    
    var idlist = [];
    
    var refresh = function() {
        var al = '<div class="alert"><p>Checking for updates</p></div>';
        $('#refresh_info').html(al);
        var checker = $('#checked').html().replace('Checked ','').replace(' times.','').replace(' time.','');
        var checked = 0;
        checker.length != 0 ? checked = parseInt(checker) : checked = 0;
        checked += 1; // increment the note of how many times it has been checked
        if ( checked > 20 ) {
            $('#done').html('Given up...');
        } else {
            var checknote = 'Checked ' + checked;
            checked == 1 ? checknote += ' time.' : checknote += ' times.';
            $('#checked').html(checknote);
            getiioa();
        }
        setTimeout(function() { $('#refresh_info').html("") },1000);
    };
    
    var getiioa = function() {
        $.ajax({
            'type':'POST',
            'url': '/lookup/',
            'data': JSON.stringify(idlist),
            'contentType': "application/json; charset=utf-8", 
            'processData': false,
            'success': success,
            'error': error
        });
    };
    
    var iioa = function(event) {
        event ? event.preventDefault() : false;
        $('#topstrap').css({'margin-top':'-80px'});
        idlist = $('#idlist').val().split(',');
        getiioa();
    };
    $('#iioa').bind('click',iioa);
    
    {% if triggered %}
    iioa();
    {% endif %}
});
</script>

<div class="row-fluid">
    <a name="lookup"></a>
    <div id="topstrap" class="hero-unit clearfix">
        <div class="span6">
            <h1>IsItOpenAccess?</h1>
            <p> IsItOpenAccess is a service for determining the licence status of journal publications, providing an end-user interface for looking up lists of identifiers, and an API for inclusion into third-party software systems.</p>
        </div>
        <div class="span1">
        </div>
        <div class="span5">
            <form action="/lookup/" method="POST">
                <p><textarea id="idlist" style="font-size:18px;width:100%;height:50px;margin-top:40px;" name="query" placeholder="list some DOIs or Pubmed IDs, separated by commas">{% if triggered %}{% for item in triggered %}{% if item['id'] != triggered[0]['id'] %},{% endif %}{{ item['id'] }}{% endfor %}{% else %}10.1371/journal.pone.0035089,10.1186/1471-2164-13-425{% endif %}</textarea></p>
                <p><input id="iioa" class="btn" type="submit" value="IsItOpenAccess?" style="height:55px;"></p>
            </form>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <div id="result_status"></div>
        <div id="refresh_info" style="height:40px;"></div>
        <div id="results"></div>
    </div>
</div>

{% endblock %}
