{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<script type="text/javascript">
jQuery(document).ready(function($) {
    $('#facetview').facetview({
        search_url: 'http://bibsoup.net/query?',
        search_index: 'elasticsearch',
        datatype: 'jsonp',
        facets: [
            {'field': 'journal.name.exact', 'display': 'journal'},
            {'field': 'author.name.exact', 'display': 'author'},
            {'field': 'year.exact', 'display': 'year'},
            {'field': 'collection.exact', 'display': 'collection'},
        ],
        search_sortby: [{'display':'year', 'field':'year.exact'},{'display':'journal','field':'journal.name.exact'}],
        searchbox_fieldselect: [{'display':'author','field':'author.name'},{'display':'journal','field':'journal.name'}],
        paging: {
            size: 10
        }
    });
});

</script>

<div class="row-fluid">
    <div class="span12">
        <p>A link through to the bibserver where the results are being stored. May well just be a blurb then a link to go direct to it.</p>
        <p>Below is just an example, and the CSS has fallen over a wee bit.</p>
    </div>
</div>

<div class="row-fluid">
    <div id="facetview"></div>
</div>
{% endblock %}
