{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<script type="text/javascript">
jQuery(document).ready(function($) {

    var resdisplay = [
            [
                {
                    "pre": "IDENTIFIER(S): ",
                    "field": "identifier.id"
                }
            ],
            [
                {
                    "pre": "LICENSE(S): ",
                    "field": "license.title"
                },
                {
                    "pre": " (",
                    "field": "license.type",
                    "post": ")"
                }
            ],
            [
                {
                    "field": "license.provenance.description"
                }
            ],
            [
                {
                    "pre": "IS IT OPEN ACCESS?: ",
                    "field": "license.open_access"
                }
            ],
            [
                {
                    "pre": "BY: ",
                    "field": "license.BY"
                },
                {
                    "pre": " NC: ",
                    "field": "license.NC"
                },
                {
                    "pre": " SA: ",
                    "field": "license.SA"
                },
                {
                    "pre": " ND: ",
                    "field": "license.ND"
                }
            ],
            [
                {
                    "pre": "OKD compliant? ",
                    "field": "license.is_okd_compliant"
                },
                {
                    "pre": " OSI compliant? ",
                    "field": "license.is_osi_compliant"
                }
            ],
            [
                {
                    "pre": "Learn more about this license at ",
                    "field": "license.url"
                }
            ],
            [
                {
                    "pre": "We retrieved this information from ",
                    "field": "license.provenance.source",
                    "post": ". "
                },
                {
                    "pre": "Last checked on ",
                    "field":"_last_modified",
                    "post":"."
                }
            ]
        ];


    $('#facetview').facetview({
        search_url: '/query?',
        datatype: 'JSON',
        facets: [
            {'field': 'journal.name.exact', 'display': 'journal'},
            {'field': 'author.name.exact', 'display': 'author'}
        ],
        sort:[{"_last_modified":{"order":"desc"}}],
        result_display: resdisplay,
        sharesave_link: false,
        paging: {
            size: 10
        }
    });
});

</script>

<div class="row-fluid">
    <div id="facetview"></div>
</div>
{% endblock %}
