{% extends "base.html" %}
{% block title %}Admin Area{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

<script type="text/javascript">
jQuery(document).ready(function($) {

    var record_url = 'http://localhost:5000/query/?';
    var record_datatype = 'JSONP';
    
    var record_resdisplay = [
        [
            {
                "pre": '<strong>Identifier(s)</strong>: <span class="identifier">',
                "field": "identifier.id",
                "post": "</span>"
            }
        ],
        [
            {
                "pre": "<strong>licenses</strong>: ",
                "field": "license.title"
            },
            {
                "pre": " (",
                "field": "license.type",
                "post": ")"
            }
        ],
        [
            {
                "pre": "<strong>Open Access?</strong>: ",
                "field": "license.open_access"
            }
        ],
        [
            {
                "pre": "<strong>BY?</strong>: ",
                "field": "license.BY"
            },
            {
                "pre": " <strong>NC</strong>: ",
                "field": "license.NC"
            },
            {
                "pre": " <strong>SA</strong>: ",
                "field": "license.SA"
            },
            {
                "pre": " <strong>ND</strong>: ",
                "field": "license.ND"
            }
        ],
        [
            {
                "pre": "<strong>OKD compliant?</strong> ",
                "field": "license.is_okd_compliant"
            },
            {
                "pre": " <strong>OSI compliant?</strong> ",
                "field": "license.is_osi_compliant"
            }
        ],
        [
            {
                "pre": "Learn more about this license at ",
                "field": "license.url"
            }
        ],
        [
            {
                "pre": "<strong>We retrieved this information from</strong> ",
                "field": "license.provenance.source",
                "post": ". "
            }
        ],
        [
            {
                "pre": "<strong>Last checked on</strong> ",
                "field":"license.provenance.date",
                "post":"."
            }
        ],
        [
            {
                "pre" : "<strong>Handler</strong>: ",
                "field" : "license.provenance.handler",
            },
            {
                "pre" : " (",
                "field" : "license.provenance.handler_version",
                "post" : ")"
            }
        ]
    ];

    var record_facets = [
        {'field': 'license.type.exact', 'display': 'License type'},
        {'field': 'license.provenance.handler.exact', 'display': 'Handler'},
        {'field': 'license.provenance.handler_version.exact', 'display': 'Handler Version'}
    ];

    function postSearch() {
        var has_type_filter = false
        $(".facetview_filterselected").each(function() {
            if ($(this).attr("rel") === "license.type.exact") {
                has_type_filter = true
            }
        })
        if (has_type_filter) {
            $("#invalidate_licenses").removeAttr("disabled")
            $("#invalidate_licenses").click(function(event) {
                event.preventDefault()
                var qy = $("#facetview").facetview.options.querystring
                var usersays = confirm("Are you really really sure?")
                if (usersays){
                    $.ajax({
                        type: "get",
                        url: "{{url_for('admin.invalidate')}}",
                        data: {source: qy},
                        dataType: "jsonp",
                        success: function(data) {
                            alert(JSON.stringify(data))
                        }
                    })
                }
            })
            
        } else {
            $("#invalidate_licenses").attr("disabled", "disabled")
        }
    }
    
    var opts = {
        search_url: record_url,
        datatype: record_datatype,
        facets: record_facets,
        searchbox_shade: "#fff",
        result_display: record_resdisplay,
        sharesave_link: false,
        paging: {
            size: 25
        },
        display_images: false,
        pager_on_top: true,
        post_search_callback: postSearch
    };

    $('#facetview').facetview(opts);

    

});

</script>


<div class="row-fluid oag-unit">
    <div class="hero-unit clearfix">
        <h1>OAG Administration Area</h1>
        <p>Search/Browse the records that are currently in the database, and perform administrative actions on them</p>
    </div>
</div>

<div class="row-fluid">
    <div class="span8">&nbsp;</div>
    <div class="span4">
        <button id="invalidate_licenses" class="btn btn-danger" disabled="disabled">Invalidate Selected Licenses</button>
    </div>
</div>

<div class="row-fluid">
    <div id="facetview"></div>
</div>

{% endblock %}
