{% extends "base.html" %}
{% block title %}Admin Area{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

<script type="text/javascript">
jQuery(document).ready(function($) {

    var record_url = '/query/?';
    var record_datatype = 'JSONP';
    
    var record_resdisplay = [
        [
            {
                "pre": '<strong>Identifier(s)</strong>: <span class="identifier">',
                "field": "identifier.id",
                "post": "</span>"
            }
        ],
        [
            {
                "pre": "<strong>licenses</strong>: ",
                "field": "license.title"
            },
            {
                "pre": " (",
                "field": "license.type",
                "post": ")"
            }
        ],
        [
            {
                "pre": "<strong>Open Access?</strong>: ",
                "field": "license.open_access"
            }
        ],
        [
            {
                "pre": "<strong>BY?</strong>: ",
                "field": "license.BY"
            },
            {
                "pre": " <strong>NC</strong>: ",
                "field": "license.NC"
            },
            {
                "pre": " <strong>SA</strong>: ",
                "field": "license.SA"
            },
            {
                "pre": " <strong>ND</strong>: ",
                "field": "license.ND"
            }
        ],
        [
            {
                "pre": "<strong>OKD compliant?</strong> ",
                "field": "license.is_okd_compliant"
            },
            {
                "pre": " <strong>OSI compliant?</strong> ",
                "field": "license.is_osi_compliant"
            }
        ],
        [
            {
                "pre": "Learn more about this license at ",
                "field": "license.url"
            }
        ],
        [
            {
                "pre": "<strong>We retrieved this information from</strong> ",
                "field": "license.provenance.source",
                "post": ". "
            }
        ],
        [
            {
                "pre": "<strong>Last checked on</strong> ",
                "field":"license.provenance.date",
                "post":"."
            }
        ],
        [
            {
                "pre" : "<strong>Handler</strong>: ",
                "field" : "license.provenance.handler",
            },
            {
                "pre" : " (",
                "field" : "license.provenance.handler_version",
                "post" : ")"
            }
        ]
    ];

    var record_facets = [
        {'field': 'license.type.exact', 'display': 'License type'},
        {'field': 'license.provenance.handler.exact', 'display': 'Handler'},
        {'field': 'license.provenance.handler_version.exact', 'display': 'Handler Version'}
    ];

    function postSearch() {
        var type_filter = undefined
        var handler_filter = undefined
        var version_filter = undefined
        
        $(".facetview_filterselected").each(function() {
            if ($(this).attr("rel") === "license.type.exact") {
                type_filter = $(this).attr("href")
            }
            if ($(this).attr("rel") === "license.provenance.handler.exact") {
                handler_filter = $(this).attr("href")
            }
            if ($(this).attr("rel") === "license.provenance.handler_version.exact") {
                version_filter = $(this).attr("href")
            }
        })
        
        $("#invalidate_licenses").unbind("click")
        
        if (type_filter || handler_filter) {
            // enable the submission
            $("#invalidate_licenses").removeAttr("disabled")
            $("#invalidate_confirm").removeAttr("disabled")
            
            // bind the functionality to the button
            $("#invalidate_licenses").click(function(event) {
                event.preventDefault()
                var qy = $("#facetview").facetview.options.querystring
                var usersays = $("#invalidate_confirm").is(":checked")
                if (usersays){
                    $.ajax({
                        type: "get",
                        url: "{{url_for('admin.invalidate')}}",
                        data: {source: qy },
                        dataType: "jsonp",
                        success: function(data) {
                            alert("licenses successfully invalidated")
                        }
                    })
                }
            })
            
        } else {
            // uncheck the confirm box and disable everything
            $("#invalidate_licenses").attr("disabled", "disabled")
            $("#invalidate_confirm").attr("disabled", "disabled")
            $("#invalidate_confirm").attr("checked", false)
        }
        
        // update the UI
        if (type_filter) {
            $("#license_type").html(type_filter)
        } else {
            $("#license_type").html("any")
        }
        if (handler_filter) {
            $("#handler").html(handler_filter)
        } else {
            $("#handler").html("any")
        }
        if (version_filter) {
            $("#handler_version").html(version_filter)
        } else {
            $("#handler_version").html("any")
        }
    }
    
    function adminRecordView(index) {
        var options = $("#facetview").facetview.options
        var record = options.data['records'][index];
        var result = options.resultwrap_start;
        
        // header row is the identifier
        var canons = []
        var identifiers = record["identifier"]
        for (var i = 0; i < identifiers.length; i++) {
            var identifier = identifiers[i]
            var canon = identifier["canonical"]
            if (canon) {
                canons.push(canon)
            }
        }
        var identifier_frag = canons.join(", ")
        result += "<strong>" + identifier_frag + "</strong>"
        
        // now all of the licences
        var licenses = record["license"]
        for (var i = 0; i < licenses.length; i++) {
            var license = licenses[i]
            var frag = _renderLicense(license)
            result += "<div class='row-fluid'><div class='span12' style='padding: 10px; border-top: 1px solid #cccccc'>" + frag + "</div></div>"
        }
        
        result += options.resultwrap_end;
        return result;
    }
    
    function _renderLicense(license) {
        var title = license["title"] ? license["title"] : ""
        var type = license["type"] ? license["type"] : ""
        var version = license["version"] ? license["version"] : ""
        var url = license["url"]
        var source = undefined
        var date = ""
        var handler = ""
        var handler_version = ""
        var source_size = ""
        if (license["provenance"]) {
            source = license["provenance"]["source"] ? license["provenance"]["source"] : ""
            date = license["provenance"]["date"] ? license["provenance"]["date"] : ""
            handler = license["provenance"]["handler"] ? license["provenance"]["handler"] : "none"
            handler_version = license["provenance"]["handler_version"] ? license["provenance"]["handler_version"] : "none"
            source_size = license["provenance"]["source_size"] ? license["provenance"]["source_size"] : "not recorded"
        }
        
        var frag = "<strong>" + title + " (" + type + " " + version + ")</strong><br>"
        if (url) {
            frag += "<a href='" + url + "'>" + url + "</a><br>"
        }
        if (source) {
            frag += "source: <a href='" + source + "'>" + source + "</a> (size: " + source_size + ")<br>"
        }
        frag += "<em>" + date + "</em> handler: <em>" + handler + "</em> version: <em>" + handler_version + "</em>"
        return frag
    }
    
    var opts = {
        search_url: record_url,
        datatype: record_datatype,
        facets: record_facets,
        searchbox_shade: "#fff",
        result_display: record_resdisplay,
        sharesave_link: false,
        paging: {
            size: 25
        },
        display_images: false,
        pager_on_top: true,
        post_search_callback: postSearch,
        buildrecord: adminRecordView
    };

    $('#facetview').facetview(opts);

    

});

</script>


<div class="row-fluid oag-unit">
    <div class="hero-unit clearfix">
        <h1>OAG Administration Area</h1>
        <p>Search/Browse the records that are currently in the database, and perform administrative actions on them</p>
    </div>
</div>

<div class="row-fluid">
    <div class="span9"><div id="facetview"></div></div>
    <div class="span3">
        <div class="row-fluid">
            <div class="span12">
                <div class="well">
                    <form action="POST">
                        <h3>Invalidate Licences</h3>
                        <strong>License Type</strong>: <span id="license_type">any</span><br>
                        <strong>Handler</strong>: <span id="handler">any</span><br>
                        <strong>Handler Version</strong>: <span id="handler_version">any</span><br><br>
                        <button id="invalidate_licenses" class="btn btn-danger" disabled="disabled">Invalidate Selected Licenses</button><br>
                        <input id="invalidate_confirm" type="checkbox" name="confirm" value="confirm" disabled="disabled">&nbsp;Yes, I'm sure!
                    </form>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <h3>How To Invalidate</h3>
                <ul>
                    <li>Select the <strong>License Type</strong> and/or <strong>Handler</strong> that describes the licenses you want to remove</li>
                    <li>Optionally select a <strong>Handler Version</strong></li>
                    <li>Optionally constrain the result set with a <strong>free-text search</strong></li>
                    <li>Check the "Yes, I'm sure!" checkbox, and hit "Invalidate Selected Licenses"</li>
                </ul>
                <h3>What happens next</h3>
                <ul>
                    <li>Each record in the archive which matches your search criteria (<strong>License Type</strong>, <strong>Handler</strong>, <strong>Handler Version</strong> and <strong>free-text search</strong>) is considered</li>
                    <li>Each license associated with each record is filtered by the <strong>License Type</strong>, <strong>Handler</strong> and <strong>Handler Version</strong> you selected</li>
                    <li>Each license which matches the criteria you selected is removed from the record</li>
                    <li>The record is NOT deleted</li>
                    <li>Any licenses which do not match the filter criteria are NOT deleted</li>
                    <li>The removal of licences is only applied to records which match your <strong>free-text search</strong> criteria</li>
                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock %}
