{% extends "developers/devbase.html" %}
{% block content %}

<div class="row-fluid oag-unit">

    <div class="span3">
        <div class="well" style="height:170px;">
            <h1><a href="/developers/api">Read<br>the<br>API docs</a></h1>
        </div>
    </div>

    <div class="span3">
        <div class="well" style="height:170px;">
            <h1><a href="/developers/backend">Learn about the backend</a></h1>
        </div>
    </div>

    <div class="span3">
        <div class="well" style="height:170px;">
            <h1><a href="/developers/plugins">Create new plugins</a></h1>
        </div>
    </div>

    <div class="span3">
        <div class="well" style="height:170px;">
            <h1><a href="/developers/search">Search the archive</a></h1>
        </div>
    </div>

</div>



{% endblock %}
