{% extends "developers/devbase.html" %}
{% block content %}
<script type="text/javascript">
jQuery(document).ready(function($) {

    var record_url = '/query/?';
    var record_datatype = 'JSON';
    
    var record_resdisplay = [
        [
            {
                "pre": 'IDENTIFIER(S): <span class="identifier">',
                "field": "identifier.id",
                "post": "</span>"
            }
        ],
        [
            {
                "pre": "LICENSE(S): ",
                "field": "license.title"
            },
            {
                "pre": " (",
                "field": "license.type",
                "post": ")"
            }
        ],
        [
            {
                "field": "license.provenance.description"
            }
        ],
        [
            {
                "pre": "IS IT OPEN ACCESS?: ",
                "field": "license.open_access"
            }
        ],
        [
            {
                "pre": "BY: ",
                "field": "license.BY"
            },
            {
                "pre": " NC: ",
                "field": "license.NC"
            },
            {
                "pre": " SA: ",
                "field": "license.SA"
            },
            {
                "pre": " ND: ",
                "field": "license.ND"
            }
        ],
        [
            {
                "pre": "OKD compliant? ",
                "field": "license.is_okd_compliant"
            },
            {
                "pre": " OSI compliant? ",
                "field": "license.is_osi_compliant"
            }
        ],
        [
            {
                "pre": "Learn more about this license at ",
                "field": "license.url"
            }
        ],
        [
            {
                "pre": "We retrieved this information from ",
                "field": "license.provenance.source",
                "post": ". "
            },
            {
                "pre": "Last checked on ",
                "field":"_last_modified",
                "post":"."
            }
        ]
    ];

    var record_facets = [
        {'field': 'license.open_access', 'display': 'OAG?'},
        {'field': 'license.type.exact', 'display': 'License type'},
        {'field': 'license.title.exact', 'display': 'License title'},
        {'field': 'license.provenance.handler.exact', 'display': 'Handler'}
    ];

    var log_url = '/query/log?';
    var log_datatype = 'JSON';

    var log_resdisplay = [
        [
            {
                "field": "date"
            },
            {
                "field": "type"
            },
            {
                "field": "process"
            }
        ],
        [
            {
                "field": "log"
            }
        ]
    ];

    var log_facets = [
        {'field': 'process.exact', 'display': 'Process'},
        {'field': 'logfile.exact', 'display': 'Log file'},
        {'field': 'type.exact', 'display': 'Type'}
    ];


    var issue_url = '/query/issue?';
    var issue_datatype = 'JSON';

    var issue_resdisplay = [
        [
            {
                "pre": '<a target="_blank" href="/issue/',
                "field": "id",
                "post": '">'
            },
            {
                "field": "about",
                "post": '</a>'
            },
            {
                "pre": " submitted by ",
                "field": "email"
            }
        ],
        [
            {
                "field": "issue"
            }
        ]
    ];

    var issue_facets = [
        {'field': 'about.exact', 'display': 'About'},
        {'field': 'email.exact', 'display': 'Submitted by'}
    ];

    var license_url = '/query/license?';
    var license_datatype = 'JSON';

    var license_resdisplay = [
        [
            {
                "field": "title"
            }
        ],
        [
            {
                "field": "type"
            },
            {
                "pre": ' <a target="_blank" href="',
                "field": "url",
                "post": '">'
            },
            {
                "field": "url",
                "post": "</a>"
            }
        ],
        [
            {
                "field": 'comment'
            }
        ]
    ];

    var license_facets = [
        {'field': 'domain_content.exact', 'display': 'Domain content'},
        {'field': 'domain_data.exact', 'display': 'Domain data'},
        {'field': 'domain_software.exact', 'display': 'Domain software'},
        {'field': 'family.exact', 'display': 'Family'},
        {'field': 'type.exact', 'display': 'Type'},
        {'field': 'is_okd_compliant.exact', 'display': 'OKD compliant'},
        {'field': 'is_osi_compliant.exact', 'display': 'OSI compliant'},
        {'field': 'maintainer.exact', 'display': 'Maintainer'},
        {'field': 'status.exact', 'display': 'Status'},
        {'field': 'title.exact', 'display': 'Title'},
        {'field': 'url.exact', 'display': 'URL'},
    ];

    var link_ids = function() {
        $('.identifier').each(function() {
            var content = $(this).html();
            if ( content.substring(0,3) == '10.' ) {
                content = '<a target="_blank" href="http://dx.doi.org/' + content + '">' + content + '</a>';
            } else {
                content = '<a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/' + content + '">' + content + '</a>';
            };
            $(this).html(content);
        });
    };

    var opts = {
        search_url: record_url,
        datatype: record_datatype,
        facets: record_facets,
        searchbox_shade: "#fff",
        result_display: record_resdisplay,
        sharesave_link: false,
        paging: {
            size: 10
        },
        post_search_callback: link_ids
    };

    $('#facetview').facetview(opts);

    var searchtype = function(event) {
        event ? event.preventDefault() : false;
        var type = $(this).attr('data-type');
        if (type == 'records') {
            opts.search_url = record_url;
            opts.datatype = record_datatype;
            opts.facets = record_facets;
            opts.result_display = record_resdisplay;
        } else if (type == 'logs') {
            opts.search_url = log_url;
            opts.datatype = log_datatype;
            opts.facets = log_facets;
            opts.result_display = log_resdisplay;
        } else if (type == 'issues') {
            opts.search_url = issue_url;
            opts.datatype = issue_datatype;
            opts.facets = issue_facets;
            opts.result_display = issue_resdisplay;
        } else if (type == 'licenses') {
            opts.search_url = license_url;
            opts.datatype = license_datatype;
            opts.facets = license_facets;
            opts.result_display = license_resdisplay;
        };
        var p = $('#facetview').parent();
        $('#facetview').remove();
        p.append('<div id="facetview"></div>');
        $('#facetview').facetview(opts);
    }
    $('.searchtype').bind('click',searchtype);
});

</script>


<div class="row-fluid oag-unit">
    <div class="hero-unit clearfix">
<p>You can search the existing database of articles and licenses from here. Note if an article has not previously been run through the system, either from the front page or the API, it will not appear here.</p>
    <p>
        <a class="btn searchtype" data-type="records" href="#">search records</a> 
        <a class="btn searchtype" data-type="logs" href="#">search logs (if uploaded)</a>
        <a class="btn searchtype" data-type="issues" href="#">search issues (if any)</a>
        <a class="btn searchtype" data-type="licenses" href="#">licenses we know</a>
    </p>
    </div>
</div>


<div class="row-fluid">
    <div id="facetview"></div>
</div>
{% endblock %}
