{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

<div class="row-fluid oag-unit">
    <div class="span8">
        <div class="hero-unit clearfix" style="min-height:360px;">

            <h3>Contact us</h3>
            
            <p>If you have ideas or want to contribute, please get in touch at [email address]. We are always open to contributions of license plugins for new publishers, use cases, functionality requests, and of course support for the service.</p>

            <p>If you want to dispute a license statement please use the <a href="/dispute">dispute page</a> as this will result in the most timely investigation of the issue.</p>

            <p>If you wish to use the API please see the <a href="/developers/api">API documentation</a>. There is no requirement for an API key at this time. If you wish to run an instance of the service yourself see <a href="http://github.com/cottagelabs/openarticlegauge">the code</a> and deployment documentation.</p>

        </div>
    </div>
    
    <div class="span4">
        <div class="hero-unit clearfix" style="min-height:360px;">
            <p>NOT OPERATIONAL YET!</p>
            <form method="POST" action="/contact/">
                <input type="hidden" name="not">
                <textarea style="width:100%;height:200px;" name="message" placeholder="Please tell us your name and your query"></textarea>
                <input style="width:100%;" type="text" placeholder="Please provide a contact email address" name="email">
                <br><input class="btn" type="submit" name="submit" value="submit your query">
            </form>
        </div>
    </div>
</div>

{% endblock %}
