{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

<script type="text/javascript">
jQuery(document).ready(function () {

    // this is where the page stores all the ids that we are requesting
    var idlist = [];

    function statusTable(data) {
        // if the div is empty, then draw this for the first time
        if ( $('#result_status').html().length == 0 ) {
            var s = "<table id='status_table'>"
            s += "<thead><tr><th>identifiers requested</th><th>still processing</th><th>found</th><th>errors</th><th>number of attempts</th><th>details</th></tr></thead>"

            s += "<tbody><tr>"
            s += '<td>' + data.requested + '</td>';
            s += '<td id="processing">' + data.processing.length + '</td>';
            s += '<td id="found">' + data.results.length + '</td>';
            s += '<td id="errors">' + data.errors.length + '</td>';
            s += '<td id="checked">1</td>';
            s += '<td id="message">waiting...</td>';
            s += "</tr></tbody></table>"

            $('#result_status').html(s);
            $('#status_table').tablesorter(
                {
                    headers: {
                        0 : {sorter : false},
                        1 : {sorter : false},
                        2 : {sorter : false},
                        3 : {sorter : false},
                        4 : {sorter : false},
                        5 : {sorter : false}
                    }
                }
            )

        // otherwise, just update the values in the table
        } else {
            $('#errors').html(parseInt($('#errors').html()) + data.errors.length);
            $('#found').html(parseInt($('#found').html()) + data.results.length);
            $('#processing').html(data.processing.length);
            $('#checked').html(parseInt($('#checked').html()) + 1);
            $('#message').html("waiting...");
        }
    }

    function successResults(data) {
        // don't do anything if there's nothing to do
        if ( $('#results').html().length == 0 && data.results.length == 0) {
            return
        }

        var t = ""

        // if the div is empty, draw this for the first time
        if ( $('#results').html().length == 0 ) {
            t += "<h2>Results</h2>"
            t += "<table id='success_table'>"
            t += "<thead><tr><th>identifier</th><th>license</th><th>BY</th><th>NC</th><th>SA</th><th>ND</th><th>OKD</th><th>OSI</th><th>info</th><th>checked</th><th>by</th></tr></thead>"
            t += "<tbody id='success_results'>"
        }

        for ( var i in data.results ) {
            var record = data.results[i];

            var info = '<p>' + record.license[0].provenance.description + '</p>';
            if (record.license[0].url) {
                info += '<p>Learn more about this license at <a target="_blank" href="' + record.license[0].url + '">' + record.license[0].url + '</a></p>'
            }
            if (record.license[0].provenance.source) {
                info += '<p>We retrieved this information from <a target="_blank" href="' + record.license[0].provenance.source + '">' + record.license[0].provenance.source + '</a>.</p>';
            }

            var plugin = '<p>License detected by <a target="_blank" href="/plugin/' + record.license[0].provenance.handler + '">' + record.license[0].provenance.handler + ' ' + record.license[0].provenance.handler_version + '</a> plugin</p>'

            var color = record.license[0].open_access ? ' style="background-color: #aaffaa"' : ' style="background-color: #ffaaaa"';

            var row = "<tr>"

            row += "<td>" + record.identifier[0].id + "</td>"
            row += "<td" + color + ">" + record.license[0].title + " (" + record.license[0].type + ")</td>"
            row += "<td>" + record.license[0].BY + "</td>"
            row += "<td>" + record.license[0].NC + "</td>"
            row += "<td>" + record.license[0].SA + "</td>"
            row += "<td>" + record.license[0].ND + "</td>"
            row += "<td>" + (typeof(record.license[0].is_okd_compliant) === "undefined" ? "" : record.license[0].is_okd_compliant) + "</td>"
            row += "<td>" + (typeof(record.license[0].is_osi_compliant) === "undefined" ? "" : record.license[0].is_osi_compliant) + "</td>"
            row += "<td>" + info + "</td>"
            row += "<td>" + record.license[0].provenance.date + "</td>"
            row += "<td>" + plugin + "</td>"
            row += "</tr>"

            t += row
        }

        if ( $('#results').html().length == 0 ) {
            t += "</tbody></table>"
            $('#results').html(t);
            $('#success_table').tablesorter()
        } else {
            $("#success_results").append(t)
        }
    }

    function errorResults(data) {
        // don't do anything if there's nothing to do
        if ( $('#failed').html().length == 0 && data.errors.length == 0) {
            return
        }

        var t = ""

        // if the div is empty, draw this for the first time
        if ( $('#failed').html().length == 0 ) {
            t += "<h2>Errors encountered</h2>"
            t += "<table id='errors_table'>"
            t += "<thead><tr><th>identifier</th><th>error message</th></tr></thead>"
            t += "<tbody id='errors_results'>"
        }

        for ( var i in data.errors ) {
            var record = data.errors[i];

            var row = "<tr>"
            row += "<td>" + record.identifier.id + "</td>"
            row += "<td>" + record.error + "</td>"
            row += "</tr>"

            t += row
        }

        if ( $('#failed').html().length == 0 ) {
            t += "</tbody></table>"
            $('#failed').html(t);
            $('#errors_table').tablesorter()
        } else {
            $("#errors_results").append(t)
        }
    }

    var success = function(data) {
        // scroll to the results
        var top = $('#result_status').offset().top - 70;
        $('html, body').animate({scrollTop: top});

        // regenerate the status table
        statusTable(data)

        // if we're finished, tell the user
        data.processing.length == 0 ? $('#message').html( 'Received responses on all requested identifiers' ) : false;

        // for the responses we receive, do the successful results
        successResults(data)

        // for the response we receive, do the error results
        errorResults(data)

        // shrink the id list to just those we haven't had responses on
        idlist = [];
        for ( var obj in data.processing ) {
            idlist.push(data.processing[obj].identifier.id);
        };

        // wait 5 seconds, then refresh
        idlist.length != 0 ? setTimeout(refresh,5000) : false;
    };
    
    var error = function(xhr, message, err) {
        alert("Error... " + err)
    };

    var refresh = function() {
        var al = 'Checking on progress ...';
        $("#message").html(al)

        var checked = parseInt($('#checked').html())
        if ( checked >= 20 ) {
            $('#message').html('Checked 20 times, stopping.');
        } else {
            getoag();
        }
    };
    
    var getoag = function() {
        $.ajax({
            'type':'POST',
            'url': '/lookup/?priority=true',
            'data': JSON.stringify(idlist),
            'contentType': "application/json; charset=utf-8", 
            'processData': false,
            'success': success,
            'error': error
        });
    };
    
    var oag = function(event) {
        event ? event.preventDefault() : false;
        $('#result_status').html("");
        $('#results').html("");
        $('#failed').html("");
        idlist = $('#idlist').val().replace(/\n/g,',').replace(/ /g,'').split(',');
        getoag();
    };
    $('#oag').bind('click',oag);
    
    {% if triggered %}
    oag();
    {% endif %}
});
</script>

<div class="row-fluid oag-unit">
    <a name="lookup"></a>
    <div class="hero-unit clearfix">
        <div class="span6">
            <h1>HowOpenIsIt?</h1>
            <h2>Open Article Gauge</h2>
            <h3>A service to determine the license for journal articles</h3>
            <p>Researchers and funders often spend inordinate amounts of time trying to figure out what license terms apply to scholarly articles. The Open Article Gauge (OAG) is a service designed to search for, locate, and present the license information for an article – the terms under which it can be accessed and/or reused.</p>
            <p>Simply cut and paste a DOI or Pubmed ID (or a list of up to 20 identifiers) in the box on the right, click “find”, and the OAG will display the available license information for you.</p>
        </div>
        <div class="span1">
        </div>
        <div class="span5">
            <form action="/lookup/" method="POST">
                <p><textarea id="idlist" style="font-size:18px;width:100%;height:125px;margin-top:10px;" name="query" placeholder="list some DOIs or Pubmed IDs, separated by commas">{% if triggered %}{% for item in triggered %}{% if item['id'] != triggered[0]['id'] %},{% endif %}{{ item['id'] }}{% endfor %}{% endif %}</textarea></p>
                <p><input id="oag" class="btn" type="submit" value="HowOpenIsIt?" style="height:55px;width:102%;"></p>
            </form>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div id="result_status"></div>
</div>

<div class="row-fluid">
    <div class="span12">
        <div id="results"></div>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <div id="failed"></div>
    </div>
</div>

{% endblock %}
