{% extends "base.html" %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
{% from "_formhelpers.html" import field_errors %}
<h1> Submit License Statement </h1>
<form action="" method="post" name="license">
    {% if form.hidden_tag is defined %}
        {{ form.hidden_tag() }}
    {% else %}
        {% if csrf_token %}
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {% endif %}
        {% for f in form if f.type == 'HiddenField' %}
            {{ f }}
        {% endfor %}
    {% endif %}
    <div>
        {{render_field(form.publisher_name, placeholder="PLOS")}}
        <hr>
        {{render_field(form.journal_urls, placeholder="http://www.plosone.org/")}}
        <button class="btn journal_link">+</button>
        <hr>
        {{render_field(form.license, render_subfields_horizontal=True)}}
    </div>
    <hr>
    
    <div class="btn-group">
        <input type="submit" value="Submit">
    </div>
    
</form>
{% endblock %}




