
body{
    margin:0;
    font-size:15px;
    line-height:20px;
    font-family:'Oswald',sans-serif;
    text-rendering:optimizelegibility;
    background-color:#eeeeee;
}

footer{
    margin-top:50px;
    padding:40px 0 200px 0;
    background-color:#2a333c;
    color:#ece9d7;
}
footer p{
    font-size:17px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom:7px;
}

.navbar{
    background:#2a333c;
}

#topnav h1.brand{
    color:#e36b23;
    font-weight:bold;
    margin:0;
}

#topnav, footer{
    font-size:17px;
}
#topnav a, footer a{color:#e36b23;text-decoration:none;}
#topnav a:hover, footer a:hover{color:#e36b23;text-decoration:underline;}
#topnav .nav>li>a{display:block;}
#topnav .nav>li>a:hover{text-decoration:none;background-color:#eeeeee;}
#topnav .nav-list>.active>a,.nav-list>.active>a:hover{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.2);background-color:#e36b23;}


.iioa-unit .hero-unit{padding:60px;margin:30px 0 30px 0;font-size:18px;color:#ece9d7;background-color:#45515f;}
.iioa-unit .hero-unit h1{margin:0 0 5px 0;font-size:50px;color:#e36b23;letter-spacing:-1px;}
.iioa-unit .hero-unit h3{margin:0 0 10px 0;font-size:30px;color:#e36b23;letter-spacing:-1px;}
.iioa-unit a{color:#e36b23;text-decoration:none;}
.iioa-unit a:hover{color:#e36b23;text-decoration:underline;}

.iioa-unit a.btn{color:#333;text-decoration:none;}
.iioa-unit a.btn:hover{color:#333;text-decoration:underline;}
.iioa-unit a.btn-danger{color:#fff;text-decoration:none;}
.iioa-unit a.btn-danger:hover{color:#fff;text-decoration:underline;}

.iioamore{
    border:1px dotted #ccc;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    padding:4px;
    display:none;
}



